# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Compilator - Source code/Debug
/Compilator - Source code/Peridot/Debug
/Compilator - Source code/Peridot/ReadMe.txt
/Compilator - Source code/ipch